{% load static %}

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/calculate.js' %}"></script>
<script src="{% static 'js/slider.js' %}"></script>
<script src="{% static 'js/modal.js' %}"></script>
<script src="{% static 'js/change_img.js' %}"></script>


<script type="text/javascript"> var csrf_token = '{{ csrf_token }}';</script>