{% extends "mainapp/base.html" %}
{% load static %}
{#{% load project_tags %}#}
{% block title %}{{ title|title }}{% endblock %}
{% block content %}
    <div class="services-container">
        <div class="header-text">Наши услуги</div>
        <div id="project" class="service">
            <div class="service-item-box">
                <div class="service-box-paragraph">Проектирование</div>
                <div class="box-inside-text">
                    <img class="img-service-item float-img-left" src="{% static 'img/project.png' %}" alt="Проектирование">
                    Проектная документация - это неотъемлемая часть реализации наших объектов.
                    Чтобы успешно реализовать объект, необходимо тщательно разработать проект на основе технического задания,
                    в котором следует учесть все технические особенности объекта, данные по смежному инженерному оборудованию и все пожелания заказчика. При этом, проект
                    не должен противоречить действующим нормативным документам, а также должен быть полностью укомплектован.
                    <br/>
                    <br/>
                    Именно поэтому наши проекты электроснабжения и автоматизации на базе протокола KNX успешно подходят как для согласования в
                    управляющих компаниях, так и для осуществления монтажных работ.
                    <br/>
                    <br/>
                    Также, в процессе реализации объекта, в большинстве случаев, в проектную документацию вносятся
                    изменения, чтобы отобразить все актуальные изменения. В конце реализации объекта, когда все кабельные линии проложены, щит смонтирован, на основе данного проекта
                    выполняется проектная документация и после сдачи объекта заказчику передается полный комплект документов по объекту.
                </div>
            </div>
        </div>
        <div id="montage" class="service">
            <div class="service-item-box">
                <div class="service-box-paragraph">Монтажные работы</div>
                <div class="box-inside-text">
                    <img class="img-service-item float-img-right" src="{% static 'img/montage1.jpg' %}" alt="Монтаж">
                    Монтажные работы осуществляется нашими специалистами строго по согласованной проектной документации. При прокладке кабеля используются современные
                    и исправные инструменты - перфораторы, штроборезы, пневмопистолеты, пылесосы и т.д. Особое внимание уделяется технике безопасности при производстве работ на объекте,
                    у каждого из наших специалистов есть действующее удостоверение с отметкой о группе электробезопасности. Весь кадровый состав проходит аттестацию в соответствии с указанными
                    сроками очередных проверок знаний.
                    <br/>
                    <br/>
                    Таким образом, опыт реализации объектов в совокупности с качественным составом команды позволяют брать в работу практически любые объекты, с любым функционалом и любыми объемами.
                    При этом, качество выполнения работ не зависит от общего объема работ, т.к. контроль за реализацией со стороны старших сотрудников охватывает все участки объекта вне зависимости
                    от его объемов.
                    <br/>
                    <br/>
                    Стоит также отметить, что наши специалисты уважают труд смежных организаций на объекте, поэтому помимо работы со своей проектной документации мы ознакамливаемся с документацией смежных
                    разделов. В результате, нам удается избежать множество конфликтных и спорных ситуаций на объекте и учесть все дополнительные факторы помимо указанных в техническом задании.
                </div>
            </div>
        </div>
        <div id="sale" class="service">
            <div class="service-item-box">
                <div class="service-box-paragraph">Поставка оборудования</div>
                <div class="box-inside-text">
                    <img class="img-service-item float-img-left" src="{% static 'img/sale1.jpg' %}" alt="Sale">
                    Для своих объектов, помимо услуг проектирования, монтажа и программирования, мы также осуществляем поставку всех необходимых материалов
                    и оборудования KNX. Нашими поставщиками являются официальные дилеры, которые поставляют только оригинальное и актуальное оборудование, на
                    которое действует полноценная гарантия.
                    <br/>
                    <br/>
                    Срок гарантии зависит от производителя, но обычно он составляет 1-2 года от даты поставки. При этом, очевидно, что поставка оборудования производится намного
                    раньше, чем сдача объекта. Но мы, со своей стороны, при финальной сдаче работы даем гарантию в один год на все свои работы и оборудование, это указывается в договоре.
                    <br/>
                    <br/>
                    Получается, что мы берем на себя определенный риск, ведь мы берем на себя все гарантийные обязательства, когда гарантия производителя уже истекла. Но в данном случае
                    риск минимален и практически сведен к нулю, ведь мы работаем только через авторизованных диллеров с такими надежными брендами, как ABB, Berker, GIRA, Schneider Electric, Legrand, Jung, Zennio,
                    являющимися флагманами среди всех производителей оборудования автоматизации на базе протокола KNX.
                </div>
            </div>
        </div>
        <div id="programming" class="service">
            <div class="service-item-box">
                <div class="service-box-paragraph">Программирование</div>
                <div class="box-inside-text">
                    <img class="img-service-item float-img-right" src="{% static 'img/programming1.jpg' %}" alt="Программирование">
                    Что подразумевается под словом "Программирование", когда речь касается шины KNX?
                    <br/>
                    <br/>
                    Самое простое объяснения - это настройка оборудования. Если выражаться более сложным языком, то это создание проекта со всеми конфигурациями оборудования,
                    сценариями и связями (групповые адреса) между отдельными устройствами. В групповых адресах, к примеру, может быть связан выключатель (сенсор) и актуатор (релейный модуль). Т.е. при
                    нажатии на определенный выключатель включается определенный модуль. И таких примеров можно привести целую массу. На деле конфигурируется освещение, теплые полы, шторы, карнизы, клапаны, системы
                    кондиционирования, вентиляции, мультимедиа и т.д. Перечень оборудования, которое можно включить в систему "Умный дом", очень большой, т.к. существует множество шлюзов и интерфейсов для интеграции в шину KNX.
                    <br/>
                    <br/>
                    Для программирования мы используем только лицензионное оборудование ETS Professional, лицензиии для которого зарегистрированы в ассоциации KNX (knx.org).
                </div>
            </div>
        </div>
    </div>
{% endblock %}
