<!DOCTYPE html>
<html lang="en">
<head>
    <style type="text/css">
        html{
            font-family: "Montserrat Light", serif;
            font-size: 18px;
        }
        body{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .name{
            color: red;
        }


    </style>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="mail-color">
    <div class="name">
        <p>Добрый день, {{context.name}}! Благодарим Вас за обращение к команде IQworks. В ближайшее время мы с Вами свяжемся</p>
    </div>
</body>
</html>